@import url(https://fonts.googleapis.com/css?family=Arvo);

body {
  margin: 0;
}

.App {
  /* color: #E8EB4E; */
  width: 100vw;
  background-color: #D7CDBE;
  align-content: center;
  display: grid;
  justify-content: center;
  font-family: 'Arvo';
}

ul {
  padding-left: 0;
  color: #9E5E3A;
  font-size: 1rem;
}
ul li {
  list-style-type: none;
  font-weight: 800;
}
h1, h4, h5, h6 {
  color: #9E5E3A;
}
h1 {
  font-size: 3rem;
}
h1 b {
  display: block;
  font-size: larger;
  letter-spacing: -6px;
}
h2, h3 {
  color: gold;
}
h4 { 
  font-size: 20px;
  font-weight: 900;
}
h6 {
  font-size: 18px;
  font-weight: 900;
}

hr {
  width: 100%;
  border: none;
  height: 2px;
  /* Set the hr color */
  color: gold; /* old IE */
  background-color: gold;
}

p {
  margin: 0 12%;
}

a {
  display: inline-block;
  padding: 12px;
  margin: 8px;
  color: #9E5E3A;
  font-size: 1.2rem;
  font-weight: 900;
}

.sm {
  font-size: .8rem;
  margin: 0px;
  padding: 0px;
  color: #ccc;
}

.btn {
  color: white;
  background-color: orange;
}

@media only screen and (min-width: 668px){
  h1 {
    font-size: 3.8rem;
  }
  p {
    margin: 0 22%;
  }
}